<html>
<% include partials/head.ejs %>

  <body>
    <% include partials/navigation.ejs %>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">Camunda BPMN process management demo.</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="assets/img/background.jpg" alt="Lanzarote"></div>
      </div>

      <div class="container">
        <h1>Make an Order.</h1>
        <div class="section">
          <div class="card-panel light-blue lighten-5">

            <br>

            <div class="row">
              <div class="col s12 center">

                <div class="input-field col s12">
                  <label for="vorname" class="active">Vorname</label>
                  <input name="vorname" id="vorname" class="validate"></input>
                </div>

                <div class="input-field col s12">
                  <label for="nachname" class="active">Nachname</label>
                  <input name="nachname" id="nachname" class="materialize-textarea"></input>
                </div>

                <div class="input-field col s12">
                  <label for="adresse" class="active">Adresse</label>
                  <input name="adresse" id="adresse" class="materialize-textarea"></input>
                </div>

                <div class="input-field col s12">
                  <label for="artikel" class="active">Artikel</label>
                  <input name="artikel" id="artikel" class="materialize-textarea"></input>
                </div>
      
              </div>
            </div>
      
            <button class="btn waves-effect waves-light light-blue lighten-2" onclick="execPost()">Send Order
              <i class="material-icons right">send</i>
            </button>

          </div>
        </div>

      </div>
    
      <% include partials/footer.ejs %>

      <% include partials/scripts.ejs %>

      <script>
        $(function() {
          var socket = io.connect();
        });

        function execPost(){
          var vorname = $('#vorname').val();
          var nachname = $('#nachname').val();
          var adresse = $('#adresse').val();
          var artikel = $('#artikel').val();

          var pay = JSON.parse('{"variables": {"vorname" : {"value" : "' + vorname + '","type": "String"}, "nachname" : {"value" : "' + nachname + '","type": "String"}, "adresse" : {"value" : "' + adresse + '","type": "String"}, "artikel" : {"value" : "' + artikel + '","type": "String"}}, "businessKey" : "myBusinessKey", "startInstructions" : [{"type": "startBeforeActivity","activityId": "Task_0y4o8li"}]}')
          console.log(pay)
          
          var hostname = 'http://localhost:8686/engine-rest'

          backendPost(hostname + '/process-definition/key/bestellung_verarbeiten/start', pay, function(data) {
            console.log(data)
            
            console.log('Order opened as process ' + data.id + data.links[0].href)

            var toastText = 'Order opened: <b>' + data.id + '</b> - <a href="' + data.links[0].href + '">More Info</a>'
            Materialize.toast(toastText)

            toastText = 'Submitted values: <a href="' + data.links[0].href + '/variables' + '">Show Data</a>'
            Materialize.toast(toastText)
          })
        }

        function backendPost(route, payload, callback) {
          const xhr = new XMLHttpRequest()
          xhr.open("POST", route, true)
          xhr.setRequestHeader('Content-Type', "application/json");
          xhr.addEventListener("load", () => {
            callback(JSON.parse(xhr.responseText, xhr))
          })
          xhr.send(JSON.stringify(payload))
        }

        function backendGET(route, callback) {
          const xhr = new XMLHttpRequest();
          xhr.open("GET", route, true);

          xhr.addEventListener("load", () => {
            callback(JSON.parse(xhr.responseText, xhr))
          })

          xhr.send()
        };
      </script>
  </body>

</html>
